@use "variables" as v;
@use "base/mixins" as m;

body {
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(1.15rem + 0.3vw);
}

h2 {
  font-size: calc(1.2rem + 0.8vw) !important;
}

h3 {
  font-size: calc(1.1rem + 0.6vw) !important;
}

h4 {
  font-size: calc(0.75rem + 0.3vw) !important;
}

a {
  text-decoration: none;
  color: v.$black;
}

p {
  font-size: calc(0.85rem + 0.3vw) !important;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.logo {
  margin-left: auto;
  @include m.desktopXL {
    margin-left: 0;
  }
}