@use "base/variables" as v;
@use "base/mixins" as m;

.footer-1 {
    padding: 2rem v.$lateral_footer_padding;
    background-color: v.$primaryDark;
    color: v.$white;
    display: grid;

    .footer-info {
        text-align: center;

        img {
            width: 12.5rem;
            margin: 2rem auto;
            margin-bottom: 0;
        }

        &>* {
            margin: 2rem auto;

            p {
                margin: 1rem auto;
            }
        }
    }

    iframe {
        width: 100%;
        height: 20rem;
        margin: 2rem auto;
    }
}

@include m.phoneSM {
    .footer-1 {
        iframe {
            width: 75vw;
            height: 50vw;
        }
    }
}

@include m.phone {
    .footer-1 {
        grid-template-columns: 1fr 2fr;

        .footer-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 15%;
            margin-top: 2rem;
            margin-bottom: 2rem;

            div {
                display: flex;
                justify-content: left;

                i {
                    margin-right: 1rem;
                    margin-left: 0;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    p {
                        margin-left: 0;
                        margin-top: 0;
                    }
                }
            }

            img {
                margin-left: 0;
                margin-bottom: 2rem;
                margin-top: 0;
            }

            &>* {
                margin-left: 0;

                p {
                    margin-left: 0;
                }
                &:last-child {
                    margin-top: 0;
                }
            }
        }

        iframe {
            width: 50vw;
            height: 40vw;
            margin: 2rem auto;
            margin-right: 15%;
        }
    }
}

@include m.tablet {
    .footer-1 {
        padding: 2.5% v.$lateral_footer_padding_lg;
        .footer-info {
            text-align: left;
            margin-left: 0;
            img {
                width: 15rem;
            }
        }

        iframe {
            margin-right: 0;
            width: 50vw;
            height: 30vw;
        }

    }
}

@include m.desktop {
    .footer-1 {
        padding: 5rem v.$lateral_footer_padding_xl;

        iframe {
            width: 30vw;
            height: 20vw;
        }
    }
}