@use "base/variables" as v;
@use "base/mixins" as m;

$contentPaddingVertical: 2.5rem;
$contentPaddingHorizontal: 2rem;

.footer-3 {
    background-color: v.$primary;
    color: v.$white;

    .footer-content {
        padding-top: $contentPaddingVertical;
        padding-bottom: 2rem;

        &>*:not(:first-child) {
            padding-top: 2rem;
        }

        .footer-title {
            text-transform: uppercase;
            padding-bottom: 0.5rem;
            font-weight: 500;
        }

        @include m.phoneSM {
            margin-left: 5rem;
            margin-right: 5rem;
        }

        @include m.phone {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: inherit 20vw;

            .footer-content-description {
                grid-area: 1 / 1 / 2 / 3;
                padding-bottom: 1rem;
            }
        }

        @include m.desktop {
            display: flex;
            margin-left: 5vw;
            margin-right: 5vw;
            justify-content: space-around;
            .footer-content-description {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                width: 40vw;
                .footer-info {
                    text-align: left;
                }
            }

            &>*:not(:first-child) {
                padding-top: 0;
                padding-left: 4rem;
            }
        }
        .footer-content-links {
            .footer-link {
                a {
                    color: v.$white;
                    &:hover {
                        color: v.$darkWhite;
                    }
                }
            }
        }
    }

    .footer-register {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid v.$darkWhite;
        border-top: 1px solid v.$darkWhite;
        margin-right: 1.5rem;
        margin-left: 1.5rem;

        &>* {
            &:first-child {
                padding-bottom: 1rem;
            }
        }

        @include m.phoneSM {
            display: flex;
            justify-content: center;
            align-items: center;

            &>* {
                &:first-child {
                    padding-bottom: 0;
                    padding-right: 1.5rem;
                }
            }
        }

        .footer-register-btn {
            display: inline-block;
            border: 1px solid v.$white;
            padding: 0.5rem 2rem;
            border-radius: 2rem;

            a {
                color: v.$white;
            }

            &:hover {
                background-color: v.$darkWhite;
            }
        }
    }

    .footer-social {
        padding-bottom: $contentPaddingVertical;
        padding-top: 2rem;

        i {
            border: 1px solid v.$white;
            padding: 0.5rem;
            border-radius: 2rem;
            margin: 0.5rem;

            &:hover {
                background-color: v.$darkWhite;
            }

            a {
                color: v.$white;
            }
        }
    }

    &>*:not(.footer-copy) {
        padding-right: $contentPaddingHorizontal;
        padding-left: $contentPaddingHorizontal;
    }

    .footer-copy {
        background-color: v.$primaryDark;
        padding: 1.5rem;
    }
}