@use "base/variables" as v;
@use "base/mixins" as m;

.footer-2 {
    background-color: v.$primaryDark;
    color: v.$darkWhite;
    padding: 0rem v.$lateral_footer_padding 2rem v.$lateral_footer_padding;

    .footer-top {
        &>* {
            border-bottom: 1px solid v.$darkWhite;
            padding-bottom: 1rem;
        }

        .footer-top-3 {
            display: flex;
            flex-direction: column;
            padding-top: 0;

            a {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                &:hover {
                    color: v.$primary;
                }
            }
        }

        .footer-top-4 {
            @include m.phone {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .footer-top-title {
                    grid-area: 1 / 1 / 2 / 3;
                }
            }
        }

        .footer-top-title {
            text-transform: uppercase;
            padding-bottom: 1rem;
            padding-top: 2rem;
        }
    }

    .footer-bottom {
        .footer-bottom-info {
            text-transform: uppercase;
            padding-bottom: 1rem;
            padding-top: 2rem;
        }

        .footer-bottom-media {

            .footer-media-1,
            .footer-media-2,
            .footer-media-3,
            .footer-media-4 {
                display: flex;
                justify-content: center;
                padding: 0.75rem 0;
            }

            @include m.phoneSM {
                display: flex;
                justify-content: space-around;
                width: 15rem;
                margin: auto;
            }
        }
    }

    .footer-contact {
        display: flex;
        justify-content: center;
        padding: 0.75rem 0;

        i {
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include m.phone {
                width: 6rem;
            }

            svg {
                color: v.$darkWhite;
            }
        }

        p {
            width: 6rem;
            text-align: left;
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }

        &:last-child {
            padding-bottom: 2rem;
        }
    }

    a {
        color: v.$darkWhite;
    }
}