@use "base/variables" as v;
@use "base/mixins" as m;

.header {
    padding: 0;

    div {

        .logo {

            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            @include m.phone {
                flex-direction: row;
                margin-top: 0;
            }

            h1,
            span {
                font-size: calc(0.75rem + 0.25vw);
                text-align: center;

                @include m.phone {
                    text-align: left;
                }
            }

            img {
                max-height: 7rem;
                padding: 0.5rem 0;

                @include m.phone {
                    max-height: 6rem;
                }
            }
        }

        .sitename {
            text-transform: uppercase;

            span {
                display: block;
                color: black;
            }

            margin-bottom: 2rem;

            @include m.phone {
                margin-bottom: 0;
            }
        }

        .navmenu a {
            text-transform: uppercase;
            font-weight: 700;
            padding: 0rem 15px;
            font-size: calc(0.6rem + 0.5vw);
        }

        @include m.desktopXXL {
            margin: auto 7.5vw;
        }
    }
}

.main {
    .hero {
        --background-color: transparent;
        min-height: 30vw;
        display: none;

        @include m.phone {
            display: block;
        }
    }

    .about {
        .us-first-column {
            padding-right: 1rem;
            padding-left: 1rem;

            @include m.desktopXL {
                padding-right: 4rem;
            }
        }

        padding: 2rem 1rem;
        text-align: center;

        @include m.phone {
            padding: 4rem inherit;
        }

        @include m.desktopXL {
            padding: 6rem inherit;
            text-align: left;
        }
    }

    margin-bottom: 5rem;

    .services {
        padding: 8rem 1rem;

        .service-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                margin-right: 0;
            }

            h4 {
                margin-top: 1rem;
            }

            h4,
            .description {
                text-align: center;
            }

            @include m.phone {
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                i {
                    margin-right: 2rem;
                }

                h4 {
                    margin-top: 0;
                }

                h4,
                .description {
                    text-align: left;
                }
            }

            .icon {
                color: white;
            }
        }
    }

    .portfolio {
        .section-title {
            padding-left: 1rem;
            padding-right: 1rem;

            @include m.phone {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .portfolio .portfolio-content .portfolio-info .preview-link,
    .portfolio .portfolio-content .portfolio-info .details-link {
        left: unset;
        top: unset;
        right: 10%;
        bottom: 15%;
    }

    .contact {
        padding: 1rem;

        .info-item {

            padding: 2rem;

            h3,
            a {
                text-align: center;
                font-size: calc(0.75rem + 0.25vw);
                display: inline-block;
                white-space: normal;
                overflow: visible;
                overflow-wrap: break-word;
                max-width: 100%;
            }
        }

        button {
            font-size: calc(0.75rem + 0.6vw);
        }
    }
}

.footer {

    .footer-top {
        padding-top: 2rem;
    }

    .footer-about {
        text-align: center;
        padding: 2rem;

        a {
            justify-content: center;
        }

        p {
            display: inline-block;
            white-space: normal;
            overflow: visible;
            overflow-wrap: break-word;
            max-width: 100%;
        }

        @include m.tablet {
            a {
                justify-content: left;
            }

            p {
                display: block;
            }

            text-align: left;
        }
    }

    .footer-links {
        text-align: center;

        li {
            justify-content: center;
        }

        h4 {
            margin-top: 1rem;
        }

        @include m.tablet {
            text-align: right;

            li {
                justify-content: right;
            }

            h4 {
                margin-top: 2rem;
            }
        }
    }

    .footer-about .logo .logo-footer {
        max-height: 10rem;
    }

    padding-bottom: 0;
}